:root{
    --color-black:black;
    --color-white:white;
    --bg-btn:linear-gradient(45deg, rgba(235, 35, 44, 1), rgba(251, 96, 97, 1));
    --bg-nen: #10141b;
    --bg-color: #1a1d23;
    --bg-color-footer: #0b0d13;

    --font-size11:1.1rem;
    --font-size12:1.2rem;
    --font-size13:1.3rem;
    --font-size14:1.4rem;
    --font-size15:1.5rem;
    --font-size16:1.6rem;
    --font-size17:1.7rem;
    --font-size18:1.8rem;
    --font-size2:2rem;
}
.btn{
    height: 38px;
    min-width: 130px;
    color: var(--color-white);
    background-color: rgba(0, 0, 0,0.5);
    border: 2px solid var(--color-white);
    border-radius: 20px;
    margin: 0 10px;
    font-family: 'Anton', sans-serif; 
}
.btn:hover{
    background-color: var(--bg-nen);
}
.container_product_header-date.active{
    background-color: #db2626;
    pointer-events: none;
}
.container_product_headerTime.active{
    display: flex;
}
.container_product_headerTime--list.active{
    background-color: #36383c;
    pointer-events: none;
}
.container_product_contentsLists.active {
    display: flex;
}

.container_info_topTab.active{
    background: var(--bg-btn);
    pointer-events: none;
}
.container_info_text.active{
  display: block;
}
.container_showtime_content.active{
    display: grid;
}
.container_showtime_childList.active{
    background: var(--bg-btn);
    pointer-events: none;
}
.container_user_listInfo--story.active{
    background: var(--bg-btn);
    pointer-events: none;
}
.container_user_Tab.active{
    display: block;
}
.login_center_topTextPhp{
    font-size: var(--font-size16);
    text-align: center;
    margin-top: 15px;
    color: green;
    font-weight: 700;
}
.icon{
    margin-left: 5px;
}
.login_center_topTextPhpErorr{
    font-size: var(--font-size16);
    text-align: center;
    margin-top: 15px;
    color: red;
    font-weight: 700;
}